.avisoModal {
    position: fixed;
    background-color: black;
    color: white;
    margin: 15px;
    top: 0px;
    right: 0px;
    padding: 7px 20px;
    border-radius: 20px;
    z-index: 999;
    font-weight: bold;
    border: solid 1px red;

    .cardHead {
        display: flex;
        gap: 20px;
    }
    .cardMain {
        font-weight: bold;
        padding: 20px;
    }
}