.header {
    color: rgb(44, 44, 44);
    background-color: rgb(2, 210, 233);
    border-bottom: solid 2px rgba(0, 0, 0, 0.175);
    padding: 10px 25px;
    position: relative;
    z-index: 999;


    .container_heade {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .icones_menu_pesquisa {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon_menu {
                display: flex;
                flex-direction: column;
                gap: 4px;
                padding: 5px;
                transition: .3s;
                 
                .traco {
                    border-radius: 30px;
                    transition: .2s;
                    width: 30px;
                    height: 3px;
                    background-color: black;
                }

                &#aberto {

                    #traco_1 {
                        transform: rotateZ(43deg) translateY(5px);
                    }
                    #traco_2 {
                        position: absolute;
                        transform: translateX(-50px);
                        opacity: 0;
                    }
                    #traco_3 {
                        transform: rotateZ(-43deg) translateY(-5px);
                    }
                }

                &:hover {
                    cursor: pointer;
                }
            }

            .icon_pesquisa {
                // font-size: 1.5em;
                cursor: pointer;
                width: 25px;
            }
        }

        
        #logo_header {
            // display: none;
            width: 150px;
            padding-right: 20px;
        }

        #carrinho {
            background-color: transparent;
            color: black;
            border: none;

            #icon_carrinho {
                width: 30px;
                display: inline-block;
                font-size: 2em;
            }

            .num_carinho {
                display: inline-block;
                background-color: rgba(56, 53, 53, 0.492);
                border-radius: 20px;
                color: white;
                font-size: 1.1em;
                font-weight: bold;
                padding: 2px 5px;
                // width: 100px;
            }
        }
    }
}