.header {
    color: rgb(44, 44, 44);
    background-color: #f7f5f5;
    border-bottom: solid 1px black;
    padding: 10px 25px;


    .container_heade {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .icones_menu_pesquisa {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon_menu {
                display: flex;
                flex-direction: column;
                gap: 4px;
                 
                .traco {
                    width: 30px;
                    height: 4px;
                    background-color: black;
                }
            }

            .icon_pesquisa {
                font-size: 1.5em;
            }
        }

        
        #logo_header {
            width: 70px;
        }

        #carrinho {
            background-color: transparent;
            color: black;
            border: none;

            #icon_carrinho {
                width: 20px;
                display: inline-block;
                font-size: 2.0em;
            }

            .num_carinho {
                display: inline-block;
                background-color: rgba(56, 53, 53, 0.492);
                border-radius: 20px;
                color: white;
                font-size: 1.1em;
                font-weight: bold;
                padding: 2px 5px;
                // width: 100px;
            }
        }
    }











    // .inicio_header {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;

    //     .input_pesquisa {
    //         padding: 10px;
    //         border: none;
    //         border-radius: 10px;
    //         width: 300px;
    //     }
    // }

    // #logoHeader {
    //     width: 150px;
    // }
}