@import "../../../styles/colors.module.scss";


.headerIntrodution {
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    margin: 10px auto;
    width: 90%;
    max-width: 1000px;

    .logo {
        max-width: 200px;
    }

    .list {
        list-style: none;
        font-weight: bold;
        display: flex;
        gap: 15px;

        a {
            text-decoration: none;
            color: $lightGray;

            &:hover {
                color: white;
            }
        }
    }

}


@media screen and (max-width: 600px) {
    .headerIntrodution {
        display: none;
    }
}