@import "../../styles/colors.module.scss";

.containerLivro {
    background: #202020 url(/public/CoverLivro.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    min-height: 105vh;
}
.livro {
    max-width: 900px;
    width: 90vw;
    margin: auto;

    table {
        margin: 20px 0px;

        th, td {
            border-bottom: solid 1px white;
            padding: 5px 10px;
            text-align: left;
            // border: 1px solid black;
        }
    }

    .divModal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.974);
        border: solid 3px white; 
        padding: 30px;
        z-index: 999; 
        
        overflow-y: auto;

        .container {
            display: flex;
            gap: 10px;
            flex-direction: column;
            max-width: 1000px;
            height: 100%;
            margin: auto;
            font-weight: bold;

            .bodyModal {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                flex-grow: 1;

                div {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
    
                    &.divQRCODE {
                        align-items: center;
                    }
                }

                button {
                    width: 80%;

                    &:hover {
                        scale: 1.04;
                    }
                }
            }


            .footerModal {
                text-align: end;
                button {
                    width: 200px;
                }
            }
        }
    }
    

    .divImgLivro {
        display: flex;
        gap: 30px;
        padding: 180px 10px 50px 10px; 

        .preco {
            padding: 15px 0px;
            font-size: 1.4em;
        }
        .divPreco {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 30px 0px;

            #quantidade {
                font-size: 1em;
                background-color: transparent;
                padding: 2px 5px;
                border: solid 1px white;
                color: white;
                width: 70px;
            }
        }
        

        button { 
            width: 80%;
            font-size: 1.2em;

            &:hover {
                scale: 1.05;
            }
        }

        .imgLivro {
            width: 95%;
            max-width: 350px;
            border-radius: 30px;
        }
    }

    button {
        background-color: transparent;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border: solid 2px white;
        padding: 10px 40px;
        margin-bottom: 20px;
        
        transition: .3s;

        &:hover {
            border-color: $lightRed;
            border-radius: 13px;
            scale: 1.1;
        }
    }
}


@media screen and (max-width: 870px) {
    .livro {
        .divImgLivro {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding: 180px 10px 50px 10px; 
        }

        .divModal {
            .container {
                .bodyModal {
                    flex-direction: column;
    
                    div {
                        width: 100%;
                    }
                }
            }
        }
    }
}