@import "../../styles/colors.module.scss";

.containerLivro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #202020 url(/public/CoverLivro.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    font-weight: bold;
    min-height: 100vh;
}





// .divModal {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.974);
//     border: solid 3px white; 
//     padding: 30px;
//     z-index: 999; 
    
//     overflow-y: auto;

//     .container {
//         display: flex;
//         gap: 10px;
//         flex-direction: column;
//         max-width: 1000px;
//         height: 100%;
//         margin: auto;
//         font-weight: bold;

//         .bodyModal {
//             display: flex;
//             justify-content: space-between;
//             align-items: center;
//             gap: 20px;
//             flex-grow: 1;

//             div {
//                 width: 50%;
//                 display: flex;
//                 flex-direction: column;

//                 &.divQRCODE {
//                     align-items: center;
//                 }
//             }

//             button {
//                 width: 80%;

//                 &:hover {
//                     scale: 1.04;
//                 }
//             }
//         }


//         .footerModal {
//             text-align: end;
//             button {
//                 width: 200px;
//             }
//         }
//     }
// }








.livro {
    max-width: 1200px;
    width: 90vw;
    padding: 10px;
    // margin: auto;

    
    

    .divImgLivro {
        border: solid 4px;
        border-top-color: blue;
        border-right-color: blue;
        border-bottom-color: rgb(255, 0, 0);
        border-left-color: rgb(255, 0, 0);
        box-shadow: inset 20px 20px 100px 40px rgba(255, 255, 255, 0.347);
        backdrop-filter: blur(2px);
        display: flex;
        gap: 30px;
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 10px;

        .imgLivro {
            border-radius: 20px;
        }
    }

    button {
        background-color: transparent;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        border: solid 2px white;
        padding: 10px 40px;
        margin-bottom: 20px;
        width: 100%;
        transition: .3s;
        font-size: 1.4em;

        &:hover {
            border-color: $lightRed;
            scale: .98;
        }
    }
}















@media screen and (max-width: 870px) {
    .livro {
        .divImgLivro {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        .divModal {
            .container {
                .bodyModal {
                    flex-direction: column;
    
                    div {
                        width: 100%;
                    }
                }
            }
        }
    }
}