@import "./colors.module.scss";

// Font 'Averia Serif Libre'
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {

    box-sizing: border-box;
    font-family: 'Averia Serif Libre' , sans-serif;
    margin: 0;
    padding: 0;
}

.sectionBackground {
    background-image: linear-gradient(to bottom, #2a2828af, #151515), url(/public/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
#sectionBackgroundVitrine {
    background-image: linear-gradient(to bottom, #2a2828c7, #151515), url(/public/livraria.jpg);
}


.main {
    background-color: $darkGray;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #151515;
}
::-webkit-scrollbar-track {
    background-color: #151515;
}
::-webkit-scrollbar-thumb {
    background-color: $lightRed;
    border-radius: 40px;
}
