
.footer {
    font-family: 'Averia Serif Libre', sans-serif;
    font-size: 1.2em;
    background-color: rgb(45, 43, 43);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 20px;
}
.footer a {
    display: inline-block;
    padding-top: 10px;
    color: red;
}

@media screen and (max-width: 700px) {
    .footer {
        text-align: center;
        gap: 40px;
        flex-direction: column;
    }
}