.metodos_naturais {
    background: black url('../public/Debell.jpg') center center no-repeat;
    background-size: cover;
    min-height: 50vh;
    display: flex;
    padding: 20px 30px 40px 30px;
    justify-content: space-evenly;
    align-items: center;
}

.icone_folha {
    max-width: 280px;
}

.descricao_metodo_natural h2 {
    margin-bottom: 15px;
}

.descricao_metodo_natural p {
    font-size: 1.05em;
    font-weight: bold;
    max-width: 400px;
    padding: 10px 0px 20px 0px;
}

@media screen and (max-width: 800px) {
    .metodos_naturais {
        flex-direction: column-reverse;
    }
    .descricao_metodo_natural h2 {
        font-size: 2.3em;
        width: 100%;
    }
}