.oferecendo_produto {
    background: url('../public/3b.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}


.texto_oferecendo_produto {
    max-width: 400px;
}

h3 {
    position: relative;
    font-size: 1.7em;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
h3::before {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 140px;
    height: 5px;
    background-color: #30290e;
    z-index: 1;
    border-radius: 10px;
}

.descricao_do_produto {
    font-size: 1.05em;
    font-weight: bold;
    max-width: 400px;
}

.preco {
    padding: 15px 0px;
    /* font-weight: bold; */
}

strong {
    font-size: 1.1em;
}



@media screen and (max-width: 800px) {
    .oferecendo_produto {
        background-image: url('../public/2.jpg');
        padding: 40px 30px;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    h3 {
        margin: 20px 0px;
        padding-bottom: 5px;
        font-size: 1.5em;
    }   
}


@media screen and (max-width: 450px) {
    .oferecendo_produto .img_livro {
        width: 100%;
    } 
}