@import "../../../styles/colors.module.scss";

.footer {
    color: $lightGray;
    font-weight: bold;
    margin: 0px auto;
    width: 90%;
    max-width: 1000px;
    padding: 50px 10px 30px 10px;
    min-height: 100vh;

    .subTitle {
        font-size: 1.1em;
        font-weight: bold;
        color: $lightRed;
        padding: 30px 0px 20px 0px;
    }

    .title {
        color: white;
        padding: 10px 0px 20px 0px;
        font-size: 2.5em;
    }


    .container_de_contatos {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;
        padding: 30px 0px;
    }

    .redesSociais {
        font-weight: bold;
        font-size: 3em;
        display: flex;
        gap: 10px;
        padding: 10px 0px;

        a {
            color: $lightGray;
            border: solid 1.9px transparent;
            border-radius: 5px;
            padding: 3px 8px;
            text-decoration: none;
            transition: .3s;

            &:hover {
                transform: rotateZ(20deg);
                border-color: red;
                color: white;
                scale: 1.05;
            }
        }
    }

    .form {    
        .div_name_email {
            display: flex;
            gap: 10px;

            input {
                font-weight: bold;
                border-radius: 5px;
                border: none;
                margin: 5px 0px;
                padding: 10px 20px;
            }
        }
    
        .div_textarea {
    
            textarea {
                font-weight: bold;
                margin: 5px 0px;
                width: 100%;
                max-width: 450px;
                border-radius: 6px;
                padding: 10px 20px;
            }
        }
    
        .submit {
            background-color: transparent;
            color: $lightGray;
            font-weight: bold;
            border-radius: 10px;
            border: solid 1.9px $lightRed;
            margin: 30px 0px;
            width: 240px;
            padding: 10px 20px;
            transition: .2s;
    
            &:hover {
                color: white;
                border-color: red;
                scale: 1.1;
            }
        }
    }
}


@media screen and (max-width: 910px) {
    .footer {
        padding: 20px 10px;
        
        
        .title {
            padding-bottom: 10px;
        }

        form {
            .div_name_email {
                display: inline-block;
                width: 300px;

                input {
                    width: 95%;
                }
            }
            .div_textarea {
                
    
                textarea {
                    width: 95%;
                }
            }
        }
    }
}


@media screen and (max-width: 734px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        form {
            .div_name_email {
                width: 100%;

                * {
                    margin: 5px 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 606px) {
    .footer {
        .title {
            font-size: 2em;
            font-weight: bold;
        }
        .div_name_email {
            font-size: .9em;

            input {
                margin: 0px;
            }
        }
    }
}
