* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#main_index {
    position: relative;
    background-color: black;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;

    .parts {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-width: 30%;
        }
    }

    #part_1 {
        background-color: rgba(2, 2, 225, 0.85);
        &:hover {
            background-color: rgb(0, 0, 255);
        }
    }#part_2 {
        background-color: rgba(225, 217, 0, 0.828);
        &:hover {
            background-color: rgb(255, 247, 0);
        }
    }#part_3 {
        background-color: rgba(3, 226, 2, 0.826);
        &:hover {
            background-color: rgb(0, 255, 0);
        }
    }#part_4 {
        background-color: rgba(225, 3, 3, 0.848);
        &:hover {
            background-color: rgb(255, 3, 3);
        }
    }

    #circle {
        background-color: aqua;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        min-width: 250px;
        min-height: 250px;
    }
}