* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#section-1 {
    background: url(../imagens/banner-hero/games/diablo-bg.png) center center no-repeat;
    background-size: cover;
    min-height: 100vh;

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1.2px solid rgba(153, 153, 153, 0.451);

        #logo {
            padding: 20px;
            border-bottom: 1px solid rgb(51, 0, 255);
            
            img {
                max-height: 40px;
            }
        }

        #nav {
            display: flex;
            justify-content: center;
            align-items: center;

            ul {
                color: white;
                display: flex;
                font-size: 1.03em;
                font-weight: 500;
                gap: 30px;
                list-style: none;
                margin-bottom: 0px;

                li:hover {
                    text-decoration: underline;
                }
            }
        }
        
        // Canvas no topo chamado pelo botão de jogos
        #offcanvasTop {
            background-color: rgba(0, 0, 0, 0.715);
            color: white;
            height: 80%;
            
            .offcanvas-header {
                padding: 20px 50px;

                #btn-close {
                    background-color: rgb(255, 230, 0);
                    color: white;
                }
            }
            
            .offcanvas-body {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;
                padding: 20px 50px;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 10px;

                    &:hover {
                        background-color: rgba(65, 64, 64, 0.496);
                    }
                }
            }
        }

        button {
            font-weight: bolder;
            min-width: 130px;
            border-width: 2px;
        }


        #menu {
            display: none;
        }
    }



    #primeira-parte {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 30px;
        min-height: 87vh;

        #sect-circulos {
            display: flex;
            gap: 10px;
            flex-direction: column;

            img {
                border-top: solid 3px white;
                border-left: solid 2px white;
                border-right: solid 2px white;
                border-bottom: solid 0px white;
                border-radius: 50%;
                padding: 5px;

                &.ativo {
                   border-color: yellow; 
                }
            }
        }

        #sect-texto {
            color: white;
            max-width: 600px;

            h1 {
                font-size: 3.3em;
                font-weight: bold;
            }

            p {
                font-size: 1.2em;
                font-weight: bold;
            }

            button {
                font-weight: bolder;
                min-width: 130px;
                border-width: 2px;
            }
        }

        #sect-trailer {
            p {
                color: white;
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 0px;
            }
            div {
                border: solid 2px yellow;
            }
        }
    }
}



#section-2 {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 2px white;

    h1 {
        font-size: 2.5em;
        font-weight: bold;
        border-top: solid 2px blue;
        padding: 20px 0px;
    }

    div#div-icones {
        display: flex;
        gap: 30px;

        img {
            width: 23px;
        }
    }

    div#div-verMais {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 10px;
        }
        p {
            color: #03A4C8;
            font-size: 1.15em;
            font-weight: bold;
            margin-bottom: 0px;
        }
    }
}


#incompleto {
    background-color: black;
    height: 100vh;
}


#section-4 {
    background: black url(../imagens/footer-background.png) center center no-repeat;
    background-size: cover;
    min-height: 110vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0px 40px;

    #div-texto {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 18px;
        max-width: 400px;
        z-index: 10;

        #logo-battle-net {
            width: 150px;
        }

        h1 {
            color: white;
            font-size: 2.5em;
            font-weight: bold;
            padding: 20px 0px;
        }
        
        #info {
            color: rgb(165, 165, 165);
            display: flex;
            flex-direction: column;
            gap: 15px;

            div {
                display: flex;
                font-size: 1.2em;
                font-weight: bold;
                gap: 7px;

                p {
                    margin-bottom: 0px;
                }
            }
        }

        
        button {
            padding: 20px 30px;
            font-weight: bold;
            max-width: 300px;
        }
    }


    #div-apps {
        position: relative;

        #imgs {

            #app-mini {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-60%);
                z-index: 1;
                width: 700px;
            }
    
            #app-strong {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%);
                z-index: 0;
                width: 900px;
            }
        }
    }
}



/* ===================================================================================
=====       Primeira Media queries (907px)      =====
=================================================================================== */
@media screen and (max-width: 907px) {
    #section-1 {
       header {
             padding: 0px 10px;

            #nav {
                display: none;
            }

            #menu {
                display: block;
            }
        }

        #primeira-parte {
            #sect-trailer {
                display: none;
            }
        }
    }

    #section-2 {
        h1 {
            font-size: 2em;
        }
    }


    #section-4 {
        #div-texto {
            position: absolute;
        }

        #div-apps {
            #imgs {
                #app-mini { 
                    display: none;
                }
            }
        }
    }
}




/* ===================================================================================
=====       Segunda Media queries (650px)      =====
=================================================================================== */
@media screen and (max-width: 650px) {
    #section-1 {

        header {
            #butoes {
                display: none;
            }
       }

        #primeira-parte {
            flex-direction: column;
            justify-content: right;
            align-items: flex-start;
            gap: 20px;

            #sect-circulos {
                flex-direction: row;

                img {
                    width: 50px;
                }
            }


            #sect-texto {
                h1 {
                    font-size: 3em;
                }
            }
        }
    }


    #section-2 {
        #div-icones {
            img {
                display: none;
            }
        }
    }
}



/* ===================================================================================
=====       Terceira Media queries (650px)      =====
=================================================================================== */