@import "../../../styles/colors.module.scss";

.sectionCards {
    width: 90%;
    max-width: 1000px;
    margin: 0px auto 50px auto;
    padding-top: 35px;
    padding-left: 5px;

    .subTitle {
        font-size: 1.1em;
        font-weight: bold;
        color: $lightRed;
        padding: 10px 0px 20px 0px;
    }

    .descricao {
        font-size: 1.1em;
        font-weight: bold;
        color: $lightGray;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 666px) {
    .sectionCards {
        .containerDeCards {
            grid-template-columns: 1fr;
        }
    }
}