@import "../../../styles/colors.module.scss";


.apresentation {
    color: white;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-top: auto;
    padding: 50px 0px 80px 0px;
    border-radius: 40px;

    .subtitle {
        font-size: 1.1em;
        font-weight: bold;
        color: $lightRed;
    }

    .title {
        font-size: 2.8em;
        max-width: 800px;
        padding: 10px 0px 15px 0px;
    }

    .descrition {
        color: $lightGray;
        font-size: 1.1em;
        font-weight: bold;
    }

    .linkBtnPlay {
        text-decoration: none;
        display: inline;
        // max-width: 200px;
        width: 200px;

        .buttonPlay {
            color: $lightRed;
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: bold;
            font-size: 1.2em;
            background-color: transparent;
            border: solid 1.7px $lightGray;
            padding: 10px 30px;
            margin-top: 20px;
            border-radius: 5px;
            box-shadow: 1px 1px 100px 1px rgba(255, 255, 255, 0.254);
            transition: .3s;
    
            .imgPlay {
                width: 20px;
            }

            &:hover {
                border-color: $lightRed;
                border-radius: 10px;
                scale: 1.05;
                box-shadow: 1px 1px 100px 1px rgba(255, 255, 255, 0.305);
            }
        }
    }
}

@media screen and (max-width: 606px) {
    .apresentation {
        .title {
            font-size: 2.7em;
            font-weight: bold;
        }
    }
}
@media screen and (max-width: 406px) {
    .apresentation {

        .title {
            font-size: 2.3em;
            font-weight: bold;
        }
    }
}