* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('./public/Averia_Serif_Libre/AveriaSerifLibre-Bold.ttf') format('truetype');
}



@keyframes kindleAnimate {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}



/* ==================== ==================== ====================  */
/* ========== ESTILOS UTILIZADOS EM MAIS DE UMA SECTION =========  */
/* ==================== ==================== ====================  */
#button_de_compra {
    display: inline-block;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: rgb(149, 149, 218);
    padding: 15px;
    transition: .4s;
    width: 95%;
}
#button_de_compra:hover {
    scale: 0.95;
}








/* ====================  ====================  ====================   */
/* ==================== SECTION INICIAL INTRODUÇÃO ====================   */
/* ====================  ====================  ====================   */
#introdution {
    font-family: 'Averia Serif Libre', sans-serif;
    background-color: black;
    color: white;
    padding: 30px;
    min-height: 100vh;
}

#livroRECEITAS {
    max-width: 300px;
    box-shadow: 10px 10px 20px black;
    border-radius: 10px;
}

#introdution p {
    padding: 20px 0px;
}
#introdution a {
    color: white;
    text-decoration: none;
}

#introdution #container_neon {
    border-bottom: solid 5px rgb(255, 0, 0);
    border-left: solid 5px rgb(255, 0, 0);
    border-top: solid 5px rgb(16, 78, 223);
    border-right: solid 5px rgb(16, 78, 223);
    box-shadow: inset 0px 0px 200px 1px rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#introdution #titilu_logo {
    color: red;
}

#introdution #texto_introdution {
    max-width: 500px;
    padding: 0px 10px;
    font-size: 2em;
}

#introdution #mostrar_mais {
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#introdution #Politica_de_Privacidade {
    text-align: center;
    background-color: rgb(27, 26, 26);
    font-size: 1em;
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 20px;
    right: 10px;
    z-index: 999;
}
#introdution #Politica_de_Privacidade:hover {
    scale: 1.05;
}






/* ====================  ====================  ====================   */
/* =========== SECTION SOBRE A DEBELL UTILIZADO MAIS DE UMA FEZ ============= */
/* ====================  ====================  ====================   */
.sobre_a_DeBell {
    font-family: 'Averia Serif Libre', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 38, 38);
    width: 98%;
    border-radius: 15px;
    margin: 20px auto;
    font-size: 1.3em;
    padding: 30px;
}
.sobre_a_DeBell p {
    max-width: 980px;
    margin: auto;
}






/*  ==================== ====================  ====================  */
/*  ============ SECTION DE INFORMAÇÃO DO LIVRO E VENDA PRINCIPAL =============  */
/*  ====================  ====================  ====================  */
#oferecendo_produto {
    background-color: rgb(233, 228, 228);
    color: rgb(41, 39, 39);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

#oferecendo_produto #livro_a_venda {
    max-width: 300px;
}

#oferecendo_produto #descrition_do_livro {
    font-family: 'Averia Serif Libre', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    max-width: 500px;
}

#oferta {
    margin: 20px 0px;
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    color: #000000;
    text-align: center;
    padding: 10px;
}






/*  ====================  ====================  ====================  */
/* ==================== SECTION METODOS NATURAIS ==================== */
/*  ====================  ====================  ====================  */
#section_metodos_naturais {
    font-family: 'Averia Serif Libre', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: 40px 20px;
    border: 10px solid rgb(227, 221, 221);
    border-radius: 5px;
    width: 94vw;
    margin: 30px auto;

}
#section_metodos_naturais p {
    padding: 20px 0px;
    font-size: 1.1em;
    max-width: 800px;

}
#section_metodos_naturais h3 {
    font-size: 1.6em;
    max-width: 800px;

}
.icones_metodos_naturais {
    width: 200px;
}






/*  ====================  ====================  ====================  */
/*  ==================== SECTION KINDLE E MENSAGEN DE AVISO  ====================  */
/*  ====================  ====================  ====================  */
#img_Kindle {
    background: url(./public/istockphoto-918656496-1024x1024.jpg) center center no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 20px auto;
    height: 300px;
    width: 95%;
}
#leitura_pelo_Kindle {
    font-family: 'Averia Serif Libre', sans-serif;
    font-weight: bold;
    color: rgb(169, 4, 4);
    text-align: center;
    font-size: 1.3em;
    padding: 20px 40px;
}
#kindle {
    animation: kindleAnimate 2s linear infinite;
    max-width: 400px;
}




/*  ====================  ====================  ====================  */
/*  ==================== SECTION FOOTER E CONTATOS ====================  */
/*  ====================  ====================  ====================  */
footer {
    font-family: 'Averia Serif Libre', sans-serif;
    font-size: 1.2em;
    background-color: rgb(45, 43, 43);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    margin-top: 40px;
}
footer a {
    display: inline-block;
    padding-top: 10px;
    color: red;
}










@media screen and (max-width: 786px) {
    #introdution {
        min-height: 10vh;
    }

    #introdution #texto_introdution {
        font-size: 1.5em;
    } 
    
    #introdution #mostrar_mais {
        display: none;
    }
    
    #livroRECEITAS {
        max-width: 220px;
    }
    
    #oferecendo_produto {
        text-align: center;
        gap: 30px;
        flex-direction: column;
    }

    footer {
        text-align: center;
    }
}


@media screen and (max-width: 647px) {
    #section_metodos_naturais {
        flex-direction: column;
    }
    .icones_metodos_naturais {
        width: 280px;
    }
}


@media screen and (max-width: 563px) {
    #introdution #container_neon {
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;
        padding: 30px 10px;
    }
    #livroRECEITAS {
        max-width: 80%;
    }
    #kindle {
        width: 280px;
    }
    footer {
        padding: 70px 0px;
        flex-direction: column;
    }
}