@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.container_produtos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0;
    // background-color: rgb(22, 21, 21);

    // background-color: red;
    padding: 20px;
    overflow-x: hidden;
    // min-height: 532px;

    .title_outros_produtos {
        // display: none;
        padding-bottom: 10px;
        color: rgb(47, 49, 47);
        // padding-bottom: 20px;
        max-width: 700px;
    }

    .conatiner_btn_slide {
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;

        .btn_slider_produtos {
            background-color: white;
            // border-radius: 10px;
            margin: 0px 5px;
            padding: 5px 20px;
            border: none;
            font-size: 1.7em;
            transition: .3s;

            &:hover {
                background-color: rgb(170, 165, 165);
            }
        }
    }
   

    .slide {
        position: relative;
        // background-color: blue;
        // position: absolute;
        // top: 50%;
        // right: 50%;
        // transform: translate(-50%, -50%);
        min-height: 450px;
        width: 100%;
        // margin: auto;
        // display: flex;
        // overflow-x: hidden;


        .item {
            // background-color: ;
            color: white;
            padding: 20px;
            background:rgb(40, 40, 38) center center no-repeat;
            background-size: cover;
            // display: inline-block;
            position: absolute; 
            top: 50%;
            border: solid 2px rgb(255, 255, 255);
            transform: translate(0, -50%);
            width: 200px;
            height: 300px;
            border-radius: 20px;
            box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.636);
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: all .4s linear;


            &:nth-child(1) {
                // top: 0;
                left: 0;
                // transform: translate(0,0);
                border-radius: 5px;
                width: 100%;
                height: 100%;
            }
            &:nth-child(2) {
                left: 65%;
            }&:nth-child(3) {
                left: calc(65% + 220px);
            }&:nth-child(4) {
                left: calc(65% + 440px);
            }

            &:nth-child(2):hover {
                scale: 1.1;
            }


            .content {
                border-radius: 10px;
                user-select: none;
                max-width: 500px;
                transition: 1s;

                .name {
                    text-align: center;
                    font-size: 2em;
                    padding-bottom: 10px;
                    font-weight: bolder;
                }
                .des {
                    font-size: 1em;
                    // opacity: 0;
                    font-weight: bolder;
                    display: none;
                }
                .Asses_Blog {
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                    background-color: rgba(57, 162, 8, 0.989);
                    padding: 15px 30px;
                    margin-top: 30px;
                    border-radius: 10px;
                    border: none;
                    display: none;
                }
            }

            
            &:nth-child(1) .content {
                padding: 10px;
                // background-color: rgba(0, 0, 0, 0.662);
                    // animation: animaçãoSliderProdutos 3s ease-in-out 1 forwards;
                .name {
                    font-size: 4em;
                    text-align: start;
                }
                .des {
                    display: block;
                    // animation: name duration timing-function delay iteration-count direction fill-mode;
                }
                .Asses_Blog {
                    display: inline-block;
                }
            }
        }  
    }
}


// @keyframes animaçãoSliderProdutos {
//     0% {
//         opacity: 0;
//     }
//     50% {
//         opacity: 0.5;
//     }
//     100% {
//         opacity: 1;
//     }
// }












@media screen and (max-width: 815px) {
    
   .container_produtos {
        .slide {

            .item {
                .content {
                    max-width: 350px;

                    .name {
                        font-size: 2em;
                    }
                    .des {
                        font-size: .9em;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 560px) {
    
    .container_produtos {
         .slide {
 
             .item {
                &:nth-child(2) {
                    left: 70%;
                }&:nth-child(3) {
                    left: calc(80% + 220px);
                }&:nth-child(4) {
                    left: calc(70% + 440px);
                }
             }
         }
     }
 }

 @media screen and (max-width: 560px) {
    
    .container_produtos {
         .slide {
 
             .item {
                .content {
                    max-width: 100%;

                    .name {
                        font-size: 2em;
                    }
                    .des {
                        font-size: .9em;
                    }
                }
                &:nth-child(2) {
                    left: 90%;
                }&:nth-child(3) {
                    left: calc(80% + 220px);
                }&:nth-child(4) {
                    left: calc(70% + 440px);
                }
             }
         }
     }
 }