@import "../../styles/colors.module.scss";

.sectionRegister {
    background-image: linear-gradient(to bottom, #2a2828af, #151515), url(../../../public/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .cardRegister {
        color: white;
        backdrop-filter: blur(15px);
        width: 90%;
        max-width: 600px;
        min-height: 450px;
        border: solid 2px white;
        border-radius: 10px;
        padding: 20px;

        h1 {
            border-bottom: solid 2px white;
            padding-right: 10px;
            display: flex;
            justify-content: space-between;
        }
        .logo {
            width: 70px;
        }

        .formulario {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px 0px;
            gap: 25px;

            .label {
                font-weight: bold;
                font-size: 1.05em;
            }
    
            .input {
                background-color: transparent;
                font-size: 1.2em;
                width: 100%;
                border: none;
                border-bottom: solid .5px white;
                color: #747373;
                padding: 5px 5px 1px 5px;
                transition: 1s;
                border-radius: 3px;

                &:focus {
                    color: rgb(255, 255, 255);
                }
            }

            .Exibir {
                cursor: pointer;
                font-size: 1em;
                font-weight: bold;
                padding: 5px;
                text-align: end;
            }
        }


        .linkLogin {
            color: white;
            font-weight: bold;
            font-size: 1.1em;
            text-decoration: none;
            padding: 10px;
            display: block;
            text-align: center;

            &:hover {
                text-decoration: underline;
            }
        }

        .examinador {
            text-align: center;
            display: block;
            font-size: 1.1em;
            font-weight: bold;
            border: solid 2px rgb(255, 255, 255);
            color: white;
            text-decoration: none;
            margin: 15px auto;
            padding: 6px 10px;
            border-radius: 10px;
            width: 230px;

            &:hover {
                border-color: $lightRed;
                color: $lightRed;
            }
        } 
    }
}