* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#section-1 {
  background: url(../imagens/banner-hero/games/diablo-bg.png);
  background-size: cover;
  min-height: 100vh;
}
#section-1 header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1.2px solid rgba(153, 153, 153, 0.451);
}
#section-1 header #logo {
  padding: 20px;
  border-bottom: 1px solid rgb(51, 0, 255);
}
#section-1 header #logo img {
  max-height: 40px;
}
#section-1 header #nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-1 header #nav ul {
  color: white;
  display: flex;
  font-size: 1.03em;
  font-weight: 500;
  gap: 30px;
  list-style: none;
  margin-bottom: 0px;
}
#section-1 header #nav ul li:hover {
  text-decoration: underline;
}
#section-1 header #offcanvasTop {
  background-color: rgba(0, 0, 0, 0.715);
  color: white;
  height: 80%;
}
#section-1 header #offcanvasTop .offcanvas-header {
  padding: 20px 50px;
}
#section-1 header #offcanvasTop .offcanvas-header #btn-close {
  background-color: rgb(255, 230, 0);
  color: white;
}
#section-1 header #offcanvasTop .offcanvas-body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  padding: 20px 50px;
}
#section-1 header #offcanvasTop .offcanvas-body div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
#section-1 header #offcanvasTop .offcanvas-body div:hover {
  background-color: rgba(65, 64, 64, 0.496);
}
#section-1 header button {
  font-weight: bolder;
  min-width: 130px;
  border-width: 2px;
}
#section-1 header #menu {
  display: none;
}
#section-1 #primeira-parte {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 30px;
  height: 87vh;
}
#section-1 #primeira-parte #sect-circulos {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
#section-1 #primeira-parte #sect-circulos img {
  border-top: solid 3px white;
  border-left: solid 2px white;
  border-right: solid 2px white;
  border-bottom: solid 0px white;
  border-radius: 50%;
  padding: 5px;
}
#section-1 #primeira-parte #sect-circulos img.ativo {
  border-color: yellow;
}
#section-1 #primeira-parte #sect-texto {
  color: white;
  max-width: 600px;
}
#section-1 #primeira-parte #sect-texto h1 {
  font-size: 3.3em;
  font-weight: bold;
}
#section-1 #primeira-parte #sect-texto p {
  font-size: 1.2em;
  font-weight: bold;
}
#section-1 #primeira-parte #sect-texto button {
  font-weight: bolder;
  min-width: 130px;
  border-width: 2px;
}
#section-1 #primeira-parte #sect-trailer p {
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0px;
}
#section-1 #primeira-parte #sect-trailer div {
  border: solid 2px yellow;
}

#section-2 {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  border-bottom: solid 2px white;
}
#section-2 h1 {
  font-size: 2.5em;
  font-weight: bold;
  border-top: solid 2px blue;
  padding: 20px 0px;
}
#section-2 div#div-icones {
  display: flex;
  gap: 30px;
}
#section-2 div#div-icones img {
  width: 23px;
}
#section-2 div#div-verMais {
  display: flex;
  align-items: center;
  gap: 10px;
}
#section-2 div#div-verMais img {
  width: 10px;
}
#section-2 div#div-verMais p {
  color: #03A4C8;
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: 0px;
}

#incompleto {
  background-color: black;
  height: 100vh;
}

#section-4 {
  background: black url(../imagens/footer-background.png) center center no-repeat;
  background-size: cover;
  min-height: 110vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0px 40px;
}
#section-4 #div-texto {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 400px;
  z-index: 10;
}
#section-4 #div-texto #logo-battle-net {
  width: 150px;
}
#section-4 #div-texto h1 {
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  padding: 20px 0px;
}
#section-4 #div-texto #info {
  color: rgb(133, 133, 133);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#section-4 #div-texto #info div {
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  gap: 7px;
}
#section-4 #div-texto #info div p {
  margin-bottom: 0px;
}
#section-4 #div-texto button {
  padding: 20px 30px;
  font-weight: bold;
  max-width: 300px;
}
#section-4 #div-apps {
  position: relative;
}
#section-4 #div-apps #imgs #app-mini {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-60%);
  z-index: 1;
  width: 700px;
}
#section-4 #div-apps #imgs #app-strong {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  z-index: 0;
  width: 900px;
}

@media screen and (max-width: 907px) {
  #section-1 header {
    padding: 0px 10px;
  }
  #section-1 header #nav {
    display: none;
  }
  #section-1 header #menu {
    display: block;
  }
  #section-1 #primeira-parte #sect-trailer {
    display: none;
  }
  #section-2 h1 {
    font-size: 2em;
  }
  #section-4 #div-texto {
    position: absolute;
  }
  #section-4 #div-apps #imgs #app-mini {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  #section-1 header #butoes {
    display: none;
  }
  #section-1 #primeira-parte {
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;
    gap: 20px;
  }
  #section-1 #primeira-parte #sect-circulos {
    flex-direction: row;
  }
  #section-1 #primeira-parte #sect-circulos img {
    width: 50px;
  }
  #section-1 #primeira-parte #sect-texto h1 {
    font-size: 3em;
    font-weight: bold;
  }
  #section-1 #primeira-parte #sect-texto p {
    font-size: 1.2em;
    font-weight: bold;
  }
  #section-1 #primeira-parte #sect-texto button {
    font-weight: bolder;
    min-width: 130px;
    border-width: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
